@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('HelveticaNeueLTPro-UltLtEx.eot');
    src: url('HelveticaNeueLTPro-UltLtEx.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTPro-UltLtEx.woff2') format('woff2'),
        url('HelveticaNeueLTPro-UltLtEx.woff') format('woff'),
        url('HelveticaNeueLTPro-UltLtEx.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('HelveticaNeueLTPro-UltLtExO.eot');
    src: url('HelveticaNeueLTPro-UltLtExO.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTPro-UltLtExO.woff2') format('woff2'),
        url('HelveticaNeueLTPro-UltLtExO.woff') format('woff'),
        url('HelveticaNeueLTPro-UltLtExO.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('HelveticaNeueLTPro-HvIt.eot');
    src: url('HelveticaNeueLTPro-HvIt.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTPro-HvIt.woff2') format('woff2'),
        url('HelveticaNeueLTPro-HvIt.woff') format('woff'),
        url('HelveticaNeueLTPro-HvIt.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('HelveticaNeueLTPro-HvEx.eot');
    src: url('HelveticaNeueLTPro-HvEx.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTPro-HvEx.woff2') format('woff2'),
        url('HelveticaNeueLTPro-HvEx.woff') format('woff'),
        url('HelveticaNeueLTPro-HvEx.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('HelveticaNeueLTPro-UltLt.eot');
    src: url('HelveticaNeueLTPro-UltLt.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTPro-UltLt.woff2') format('woff2'),
        url('HelveticaNeueLTPro-UltLt.woff') format('woff'),
        url('HelveticaNeueLTPro-UltLt.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('HelveticaNeueLTPro-ThIt.eot');
    src: url('HelveticaNeueLTPro-ThIt.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTPro-ThIt.woff2') format('woff2'),
        url('HelveticaNeueLTPro-ThIt.woff') format('woff'),
        url('HelveticaNeueLTPro-ThIt.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('HelveticaNeueLTPro-CnO.eot');
    src: url('HelveticaNeueLTPro-CnO.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTPro-CnO.woff2') format('woff2'),
        url('HelveticaNeueLTPro-CnO.woff') format('woff'),
        url('HelveticaNeueLTPro-CnO.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('HelveticaNeueLTPro-BlkCnO.eot');
    src: url('HelveticaNeueLTPro-BlkCnO.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTPro-BlkCnO.woff2') format('woff2'),
        url('HelveticaNeueLTPro-BlkCnO.woff') format('woff'),
        url('HelveticaNeueLTPro-BlkCnO.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('HelveticaNeueLTPro-LtCn.eot');
    src: url('HelveticaNeueLTPro-LtCn.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTPro-LtCn.woff2') format('woff2'),
        url('HelveticaNeueLTPro-LtCn.woff') format('woff'),
        url('HelveticaNeueLTPro-LtCn.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('HelveticaNeueLTPro-BlkCn.eot');
    src: url('HelveticaNeueLTPro-BlkCn.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTPro-BlkCn.woff2') format('woff2'),
        url('HelveticaNeueLTPro-BlkCn.woff') format('woff'),
        url('HelveticaNeueLTPro-BlkCn.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('HelveticaNeueLTPro-Lt.eot');
    src: url('HelveticaNeueLTPro-Lt.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTPro-Lt.woff2') format('woff2'),
        url('HelveticaNeueLTPro-Lt.woff') format('woff'),
        url('HelveticaNeueLTPro-Lt.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('HelveticaNeueLTPro-MdEx.eot');
    src: url('HelveticaNeueLTPro-MdEx.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTPro-MdEx.woff2') format('woff2'),
        url('HelveticaNeueLTPro-MdEx.woff') format('woff'),
        url('HelveticaNeueLTPro-MdEx.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('HelveticaNeueLTPro-BlkIt.eot');
    src: url('HelveticaNeueLTPro-BlkIt.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTPro-BlkIt.woff2') format('woff2'),
        url('HelveticaNeueLTPro-BlkIt.woff') format('woff'),
        url('HelveticaNeueLTPro-BlkIt.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('HelveticaNeueLTPro-BdIt.eot');
    src: url('HelveticaNeueLTPro-BdIt.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTPro-BdIt.woff2') format('woff2'),
        url('HelveticaNeueLTPro-BdIt.woff') format('woff'),
        url('HelveticaNeueLTPro-BdIt.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('HelveticaNeueLTPro-It.eot');
    src: url('HelveticaNeueLTPro-It.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTPro-It.woff2') format('woff2'),
        url('HelveticaNeueLTPro-It.woff') format('woff'),
        url('HelveticaNeueLTPro-It.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('HelveticaNeueLTPro-MdCnO.eot');
    src: url('HelveticaNeueLTPro-MdCnO.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTPro-MdCnO.woff2') format('woff2'),
        url('HelveticaNeueLTPro-MdCnO.woff') format('woff'),
        url('HelveticaNeueLTPro-MdCnO.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('HelveticaNeueLTPro-BlkEx.eot');
    src: url('HelveticaNeueLTPro-BlkEx.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTPro-BlkEx.woff2') format('woff2'),
        url('HelveticaNeueLTPro-BlkEx.woff') format('woff'),
        url('HelveticaNeueLTPro-BlkEx.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('HelveticaNeueLTPro-LtCnO.eot');
    src: url('HelveticaNeueLTPro-LtCnO.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTPro-LtCnO.woff2') format('woff2'),
        url('HelveticaNeueLTPro-LtCnO.woff') format('woff'),
        url('HelveticaNeueLTPro-LtCnO.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('HelveticaNeueLTPro-BdOu.eot');
    src: url('HelveticaNeueLTPro-BdOu.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTPro-BdOu.woff2') format('woff2'),
        url('HelveticaNeueLTPro-BdOu.woff') format('woff'),
        url('HelveticaNeueLTPro-BdOu.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('HelveticaNeueLTPro-HvCnO.eot');
    src: url('HelveticaNeueLTPro-HvCnO.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTPro-HvCnO.woff2') format('woff2'),
        url('HelveticaNeueLTPro-HvCnO.woff') format('woff'),
        url('HelveticaNeueLTPro-HvCnO.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('HelveticaNeueLTPro-HvCn.eot');
    src: url('HelveticaNeueLTPro-HvCn.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTPro-HvCn.woff2') format('woff2'),
        url('HelveticaNeueLTPro-HvCn.woff') format('woff'),
        url('HelveticaNeueLTPro-HvCn.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('HelveticaNeueLTPro-HvExO.eot');
    src: url('HelveticaNeueLTPro-HvExO.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTPro-HvExO.woff2') format('woff2'),
        url('HelveticaNeueLTPro-HvExO.woff') format('woff'),
        url('HelveticaNeueLTPro-HvExO.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('HelveticaNeueLTPro-BdCn.eot');
    src: url('HelveticaNeueLTPro-BdCn.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTPro-BdCn.woff2') format('woff2'),
        url('HelveticaNeueLTPro-BdCn.woff') format('woff'),
        url('HelveticaNeueLTPro-BdCn.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('HelveticaNeueLTPro-UltLtCn.eot');
    src: url('HelveticaNeueLTPro-UltLtCn.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTPro-UltLtCn.woff2') format('woff2'),
        url('HelveticaNeueLTPro-UltLtCn.woff') format('woff'),
        url('HelveticaNeueLTPro-UltLtCn.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('HelveticaNeueLTPro-XBlkCnO.eot');
    src: url('HelveticaNeueLTPro-XBlkCnO.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTPro-XBlkCnO.woff2') format('woff2'),
        url('HelveticaNeueLTPro-XBlkCnO.woff') format('woff'),
        url('HelveticaNeueLTPro-XBlkCnO.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('HelveticaNeueLTPro-ExO.eot');
    src: url('HelveticaNeueLTPro-ExO.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTPro-ExO.woff2') format('woff2'),
        url('HelveticaNeueLTPro-ExO.woff') format('woff'),
        url('HelveticaNeueLTPro-ExO.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('HelveticaNeueLTPro-Md.eot');
    src: url('HelveticaNeueLTPro-Md.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTPro-Md.woff2') format('woff2'),
        url('HelveticaNeueLTPro-Md.woff') format('woff'),
        url('HelveticaNeueLTPro-Md.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('HelveticaNeueLTPro-LtIt.eot');
    src: url('HelveticaNeueLTPro-LtIt.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTPro-LtIt.woff2') format('woff2'),
        url('HelveticaNeueLTPro-LtIt.woff') format('woff'),
        url('HelveticaNeueLTPro-LtIt.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('HelveticaNeueLTPro-ThCn.eot');
    src: url('HelveticaNeueLTPro-ThCn.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTPro-ThCn.woff2') format('woff2'),
        url('HelveticaNeueLTPro-ThCn.woff') format('woff'),
        url('HelveticaNeueLTPro-ThCn.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('HelveticaNeueLTPro-MdExO.eot');
    src: url('HelveticaNeueLTPro-MdExO.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTPro-MdExO.woff2') format('woff2'),
        url('HelveticaNeueLTPro-MdExO.woff') format('woff'),
        url('HelveticaNeueLTPro-MdExO.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('HelveticaNeueLTPro-Cn.eot');
    src: url('HelveticaNeueLTPro-Cn.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTPro-Cn.woff2') format('woff2'),
        url('HelveticaNeueLTPro-Cn.woff') format('woff'),
        url('HelveticaNeueLTPro-Cn.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('HelveticaNeueLTPro-Bd.eot');
    src: url('HelveticaNeueLTPro-Bd.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTPro-Bd.woff2') format('woff2'),
        url('HelveticaNeueLTPro-Bd.woff') format('woff'),
        url('HelveticaNeueLTPro-Bd.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('HelveticaNeueLTPro-LtExO.eot');
    src: url('HelveticaNeueLTPro-LtExO.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTPro-LtExO.woff2') format('woff2'),
        url('HelveticaNeueLTPro-LtExO.woff') format('woff'),
        url('HelveticaNeueLTPro-LtExO.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('HelveticaNeueLTPro-MdIt.eot');
    src: url('HelveticaNeueLTPro-MdIt.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTPro-MdIt.woff2') format('woff2'),
        url('HelveticaNeueLTPro-MdIt.woff') format('woff'),
        url('HelveticaNeueLTPro-MdIt.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('HelveticaNeueLTPro-LtEx.eot');
    src: url('HelveticaNeueLTPro-LtEx.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTPro-LtEx.woff2') format('woff2'),
        url('HelveticaNeueLTPro-LtEx.woff') format('woff'),
        url('HelveticaNeueLTPro-LtEx.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('HelveticaNeueLTPro-Roman.eot');
    src: url('HelveticaNeueLTPro-Roman.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTPro-Roman.woff2') format('woff2'),
        url('HelveticaNeueLTPro-Roman.woff') format('woff'),
        url('HelveticaNeueLTPro-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('HelveticaNeueLTPro-ThExO.eot');
    src: url('HelveticaNeueLTPro-ThExO.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTPro-ThExO.woff2') format('woff2'),
        url('HelveticaNeueLTPro-ThExO.woff') format('woff'),
        url('HelveticaNeueLTPro-ThExO.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('HelveticaNeueLTPro-BdExO.eot');
    src: url('HelveticaNeueLTPro-BdExO.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTPro-BdExO.woff2') format('woff2'),
        url('HelveticaNeueLTPro-BdExO.woff') format('woff'),
        url('HelveticaNeueLTPro-BdExO.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('HelveticaNeueLTPro-ThEx.eot');
    src: url('HelveticaNeueLTPro-ThEx.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTPro-ThEx.woff2') format('woff2'),
        url('HelveticaNeueLTPro-ThEx.woff') format('woff'),
        url('HelveticaNeueLTPro-ThEx.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('HelveticaNeueLTPro-BlkExO.eot');
    src: url('HelveticaNeueLTPro-BlkExO.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTPro-BlkExO.woff2') format('woff2'),
        url('HelveticaNeueLTPro-BlkExO.woff') format('woff'),
        url('HelveticaNeueLTPro-BlkExO.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('HelveticaNeueLTPro-ThCnO.eot');
    src: url('HelveticaNeueLTPro-ThCnO.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTPro-ThCnO.woff2') format('woff2'),
        url('HelveticaNeueLTPro-ThCnO.woff') format('woff'),
        url('HelveticaNeueLTPro-ThCnO.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('HelveticaNeueLTPro-BdCnO.eot');
    src: url('HelveticaNeueLTPro-BdCnO.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTPro-BdCnO.woff2') format('woff2'),
        url('HelveticaNeueLTPro-BdCnO.woff') format('woff'),
        url('HelveticaNeueLTPro-BdCnO.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('HelveticaNeueLTPro-UltLtCnO.eot');
    src: url('HelveticaNeueLTPro-UltLtCnO.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTPro-UltLtCnO.woff2') format('woff2'),
        url('HelveticaNeueLTPro-UltLtCnO.woff') format('woff'),
        url('HelveticaNeueLTPro-UltLtCnO.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('HelveticaNeueLTPro-XBlkCn.eot');
    src: url('HelveticaNeueLTPro-XBlkCn.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTPro-XBlkCn.woff2') format('woff2'),
        url('HelveticaNeueLTPro-XBlkCn.woff') format('woff'),
        url('HelveticaNeueLTPro-XBlkCn.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('HelveticaNeueLTPro-UltLtIt.eot');
    src: url('HelveticaNeueLTPro-UltLtIt.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTPro-UltLtIt.woff2') format('woff2'),
        url('HelveticaNeueLTPro-UltLtIt.woff') format('woff'),
        url('HelveticaNeueLTPro-UltLtIt.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('HelveticaNeueLTPro-Hv.eot');
    src: url('HelveticaNeueLTPro-Hv.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTPro-Hv.woff2') format('woff2'),
        url('HelveticaNeueLTPro-Hv.woff') format('woff'),
        url('HelveticaNeueLTPro-Hv.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('HelveticaNeueLTPro-Blk.eot');
    src: url('HelveticaNeueLTPro-Blk.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTPro-Blk.woff2') format('woff2'),
        url('HelveticaNeueLTPro-Blk.woff') format('woff'),
        url('HelveticaNeueLTPro-Blk.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('HelveticaNeueLTPro-MdCn.eot');
    src: url('HelveticaNeueLTPro-MdCn.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTPro-MdCn.woff2') format('woff2'),
        url('HelveticaNeueLTPro-MdCn.woff') format('woff'),
        url('HelveticaNeueLTPro-MdCn.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('HelveticaNeueLTPro-BdEx.eot');
    src: url('HelveticaNeueLTPro-BdEx.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTPro-BdEx.woff2') format('woff2'),
        url('HelveticaNeueLTPro-BdEx.woff') format('woff'),
        url('HelveticaNeueLTPro-BdEx.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('HelveticaNeueLTPro-Th.eot');
    src: url('HelveticaNeueLTPro-Th.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTPro-Th.woff2') format('woff2'),
        url('HelveticaNeueLTPro-Th.woff') format('woff'),
        url('HelveticaNeueLTPro-Th.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('HelveticaNeueLTPro-Ex.eot');
    src: url('HelveticaNeueLTPro-Ex.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTPro-Ex.woff2') format('woff2'),
        url('HelveticaNeueLTPro-Ex.woff') format('woff'),
        url('HelveticaNeueLTPro-Ex.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

